<h1>Tus libros</h1>
<% if current_user %>
  <h1><%= current_user.email %></h1>
<% end %>
<table class="table table-striped">
  <thead>
    <th>#</th>
    <th>Nombre</th>
  </thead>
  <tbody id="book-list">
    <%= render @books %>
  </tbody>
</table>
